* {
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: Arial;
    background: linear-gradient(135deg,#74ebd5,#4facfe);
}
header {
    text-align: center;
    color: rgb(26, 19, 19);
    padding: 25px;
}
main {
    width: 50%;
    max-width: 600px;
    margin: auto;
}
.search, .card, .history {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.searchbar {
    display: flex;
    gap: 0px;
}
input, select, button {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input {
    flex: 1;
}
button {
    background: #82bae2;
    color: white;
    cursor: pointer;
}
button:hover {
    background: #555;
}
#status {
    text-align: center;
    color: white;
}
.card {
    text-align: center;
}
#icon {
    font-size: 40px;
}
#temp {
    font-size: 20px;
}
.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.details div {
    background: #eef7ff;
    padding: 15px;
    border-radius: 10px;
}
.details small {
    display: block;
    color: gray;
}
.history-head {
    display: flex;
    justify-content: space-between;
}
#clear {
    background: #e74c3c;
}
li {
    background: #f2f2f2;
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
    cursor: pointer;
}
@media(max-width:600px) {
    .searchbar {
        flex-direction: column;
    }
    input, select, button {
        width: 100%;
    }
    .details {
        grid-template-columns: 1fr;
    }
}